# Arquivos de log e cache do sistema
.DS_Store
*.log
*.log*

# Arquivos gerados pelo Gradle e Java/Kotlin
.gradle/
build/
*.jar
*.war

# Arquivos de configuração de IDEs
.idea/
.vscode/
*.iml

# Arquivos do sistema operacional
Thumbs.db